<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659061177615-87ncjl5ft0qjhace6k9vbh73v93rphcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659061177615-87ncjl5ft0qjhace6k9vbh73v93rphcr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmeCuWMkvgJywJhuECznR2L-TEiwRRrZE</string>
	<key>GCM_SENDER_ID</key>
	<string>659061177615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMyCreateAccount</string>
	<key>PROJECT_ID</key>
	<string>creataccount-b1e73</string>
	<key>STORAGE_BUCKET</key>
	<string>creataccount-b1e73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659061177615:ios:4d7e1fb2c842047182527a</string>
</dict>
</plist>